<div class="page-header">
<h1>Find Friends</h1> 
    
</div> 



<div class="col-md-10">
<% @users.each do |user| %>
				<div class="status">
					<div class="row">
						<div class="span1">
						<%= avatar_profile_link user, {}, class: 'pull-left', style: "width:70px;height:70px;" %> 
						</div>
						<div class="span7"> 
						  	<strong> <%= user.full_name %></strong> 
						  	<br>
						</div>
					  	<div class="meta">
					  			
<span id="friend-status">
<% if signed_in? %> 
<span id="friend-status">
	<% unless current_user.friends.include?(user) || current_user.pending_friends.include?(user) %>  

		<%= link_to "Add Friend", new_user_friendship_path(friend_id: user.id), id: 'add-friendship', data: { friend_id: user.to_param }, class: 'btn btn-primary', :remote => true %>
	<% end %> 
</span> 
<% end %> 


						</div>

					</div>
				</div>
<% end %> 
</div> 